---
const { articleId } = Astro.props;
---

<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="alexfrontendfr/blog-dex-astro"
        data-repo-id="R_kgDOMvtbGg"
        data-category="Announcements"
        data-category-id="DIC_kwDOMvtbGs4CiW2y"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>